html {
    background: #b2dfdf;
    font-family: "Open Sans", sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.episode-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.episode {
    width: 340px;
    margin: 25px;
    background-color: #fdfcdc;
    border-radius: 10px;
}

.episode-header {
    text-align: center;
    background-color: #fed9b7;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 16px;
    border-radius: 10px;
}

.episode-content {
    text-align: center;
    padding: 16px;
    background-color: #fdfcdc;
    border-radius: 10px;
}
